.loginBtn {
  border: none;
  background-color: #fff;
  width: 7rem;
  height: 4.5rem;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  color: rgb(84, 81, 81);
}
.loginBtn:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}
