.products__product {
  width: 17.95rem;
  padding: 1rem;
  border: 0.1rem solid #f5f5f5;
  min-height: 15rem;
}

.product__image {
  position: relative;
}
.product__image img {
  width: 16rem;
  height: 10rem;
}
.product__offer {
  color: #fff;
  background-color: #528cee;
  width: fit-content;
  border-radius: 0.5rem;
  font-size: 1rem;
  padding: 0.1rem 0.6rem;
  position: absolute;
}
.product__details {
  display: flex;
  justify-content: space-between;
}
.product__name {
  font-size: 1.4rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.product__weight {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  color: gray;
}

.product__weight,
.product__price {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.product__quantity button,
.product__sourced {
  color: #23963f;
  background-color: #ebfeef;
}
.product__sourced {
  float: right;
  font-size: 1.2rem;
}
.product__price {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
}

.product__oldPrice {
  font-size: 1.2rem;
  text-decoration-line: line-through;
  color: gray;
}
.product__quantity button {
  padding: 1rem 2.5rem;
  border-radius: 0.5rem;
  border: 0.1rem solid #23963f;
  font-weight: 600;
}

.product__quantity button:hover {
  cursor: pointer;
}

.incrementQuantity,
.decrementQuantity {
  padding: 0.4rem;
}
